/*      Arquivo base de CSS     */

/*      Sets gerais do body     */
body {
    background-color: rgba(0, 119, 255, 0.349);
}

/*      Elementos do cabeçalho      */ 

header{
    background-color: #fff;
}

.navbar {
    padding-top: 0px;
}

.menu-top {
    margin-left: 20%;
    margin-right: 5%;
    margin-bottom: 60px;
}

.menu-top img {
    max-width: 300px;
    max-height: 200px;
}

.navbar-brand {
    margin-left: 40%;
}

.navbar-acessibilidade {
    position: relative;
    margin-bottom: 170px;
    margin-left: 50%;
}

#MenuTopNavbar {
    position: absolute;
    margin-top: 35px;
    padding-top: 50px;
    margin-left: 38%;
}
/*      END Elementos do cabeçalho      */ 



/*      Elementos da section do meio (conteudo)     */
h2 {
    display: inline-block;
    border-bottom: 1px solid #000;
}

.noticias-container {
    position: relative;
    margin-bottom: 50px;
}

.blog-container {
    position: relative;
    margin-bottom: 50px; 
}

.img-fluid {
    max-width: 100%;
    height:300px;
}

.mais-btn {
    margin-top: 10px;
    text-align: right;
}
/*      END Elementos da section do meio (conteudo)     */



/*      Elementos do footer     */
footer {
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: aliceblue;
}

.img-footer img {
    margin-left: 15%;
    max-width: 350px;
    max-height: 250px;
}

.form-email {
    width: 300px !important; 
}

.footer-copyright {
    display: inline-block;
    margin-left: 20%;
    margin-right: -5%;
}

.imd-logo {
    width: 155px;
    margin-left: 10%;
    margin-right: -5%;
}

.ufrn-logo {
    width: 120px;
    margin-left: 10%;
    margin-right: 10%;
}
/*      END Elementos do footer     */
